body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}



.navbar {
    background-color: rgb(5, 29, 29);

    padding: 10px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar-logo {
    font-weight: bold;
    font-size: 24px;
    margin-right: 20px;
    color: rgb(155, 185, 155);

}

.navbar-links {
    list-style: none;
    margin: 0;
    padding: 0;

}

.navbar-links li {
    display: inline-block;
    margin-right: 10px;

}

.navbar-links li a {
    color: #e9e3d6;
    text-decoration: none;
    padding: 5px 10px;

}



.container {

    background-color: rgb(205, 222, 222);

    color: rgb(5, 29, 29);

    display: flex;
    align-items: start;
    display: grid;
    grid-template-columns: repeat(2, 2fr);

}


.text {
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
    margin-left: 20px;
}

.image {
    position: relative;
    display: flex;
    width: 400px;
    height: 460px;

}


.container2 {
    background-color: rgb(173, 208, 208);

    display: flex;
    align-items: start;
    display: grid;
    grid-template-columns: repeat(3, 2fr);

}


.inner-con {
    display: flex;
    max-width: 200%;
    height: 280px;

}


.container3 {

    background-color: rgb(155, 185, 155);
    
    color: rgb(72, 71, 71);

    display: flex;
    align-items: start;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;

}




p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 20px;

}

.container2 div h3 {
    margin-left: 20px;
    color: rgb(52, 46, 46);

}

.inner-container {
    margin-left: 50px;
}

.incons {
    height: 50px;
    width: auto;
    margin-left: 20px;
}